<ActionBar title="MAPIXO" class="background-color-padrao">
    <NavigationButton text="Voltar" icon="res://ic_arrow_back_black_24dp" class="go-back" [nsRouterLink]="['/home']" clearHistory="true" pageTransition="slideRight" ></NavigationButton>
</ActionBar>
<FlexboxLayout class="page">
    <StackLayout class="form">
        <PreviousNextView>
            <ScrollView scrollBarIndicatorVisible="false" height="100%" class="form scrolview m-t-30" orientation="vertical">
                <GridLayout rows="auto">
                    <GridLayout row="0" rows="auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto, auto">

                        <Label elevation="4" text="Cadastre um possivel local!" style="font-size: 20em; text-align: center" class="m-t-16" row="0"></Label>
                        <!--                        Nome-->
                        <StackLayout row="1" class="input-field m-t-30 espacamento-label-text">

                            <GridLayout rows="*" columns="*, auto">
                                <GridLayout row="0" col="0" rows="auto, *" columns="auto,*">
                                    <Label row="0" col="0" text="&#xf5b7; Nome" class="fas label-text"></Label>
                                    <Label row="0" col="1" *ngIf="lr.nome == undefined || lr.nome == ''" class="fas label-text" text="  (Obrigatório)" class="label-error" textWrap="true" style="font-size: 10pt;"></Label>
                                    <StackLayout row=1 colSpan="2">
                                        <TextField row="1"  #nome class="input" [(ngModel)]="lr.nome"
                                                   [disabled]="processing"
                                        ></TextField>
                                    </StackLayout>
                                </GridLayout>
                                <GridLayout row="0" col="1" rows="auto, *" columns="auto,*">
                                    <Label row="0" col="0" text="&#xf5b7; Valor" class="fas label-text"></Label>
                                    <Label row="0" col="1" class="fas label-text" text="  (Opcional)" textWrap="true" style="font-size: 10pt;"></Label>
                                    <StackLayout row=1 colSpan="2">
                                        <TextField #valor class="input" [(ngModel)]="lr.valor" maxlength="10"
                                                   [disabled]="processing"
                                        ></TextField>
                                    </StackLayout>
                                </GridLayout>
                            </GridLayout>
                        </StackLayout>
                        <!--                        Descricao-->
                        <GridLayout row="2" class="input-field m-t-10 espacamento-label-text" rows="auto, *" columns="auto,*">
                            <Label row="0" col="0" text="&#xf5b7; Descrição breve" class="fas label-text"></Label>
                            <Label row="0" col="1" *ngIf="lr.descricao == undefined || lr.nome == ''" class="fas label-text" text="  (Obrigatório)" class="label-error" textWrap="true" style="font-size: 10pt;"></Label>
                            <TextField  row=1 colSpan="2" #descricao class="input" [(ngModel)]="lr.descricao" [disabled]="processing"></TextField>
                        </GridLayout>
                        <!--                        Quantidade / Unidade-->
                        <StackLayout row="3"  class="input-field m-t-10 espacamento-label-text">
                            <GridLayout rows="*" columns="auto, *">
                                <StackLayout row="0" col="0" class="input-field espacamento-label-text">
                                    <Label row="0" col="0" text="&#xf5b7; Quantidade a ofertar" class="fas label-text"></Label>
                                    <TextField row="0" col="0" #qntd maxlength="50" class="input" [(ngModel)]="lr.qntd"
                                               [disabled]="processing"
                                    ></TextField>
                                    <StackLayout row="0" col="0" *ngIf="lr.qntd == undefined || lr.qntd == ''" class="hr-light linha-error"></StackLayout>
                                    <Label row="0" col="0" *ngIf="lr.qntd == undefined || lr.qntd == ''" text="Campo obrigatório!" class="label-error"></Label>
                                </StackLayout>
                                <!--                        unidade_medida-->
                                <StackLayout row="0" col="1" class="input-field espacamento-label-text">
                                    <Label row="0" col="1" text="&#xf5b7; Unidade Medida" class="fas label-text m-l-25"></Label>
                                    <ListPicker row="0" col="1" [items]="unidade_med" selectedIndex="0" class="picker" (selectedIndexChange)="onSelectedIndexChangedUnidade($event)"></ListPicker>
                                </StackLayout>
                            </GridLayout>
                        </StackLayout>

                        <!--                        Tipo Negociacao-->
                        <StackLayout row="4" class="input-field espacamento-label-text">
                            <GridLayout rows="*" columns="auto, *">
                                <StackLayout row="0" col="0">
                                    <Label class="fas label-text" text="&#xf2bb; Tipo negociação" textWrap="true"></Label>
                                    <ListPicker [items]="tipo_nego" selectedIndex="0" class="picker" (selectedIndexChange)="onSelectedIndexChanged($event)"></ListPicker>
                                </StackLayout>
                                <StackLayout row="0" col="1">
                                    <Label class="fas label-text" text="&#xf2bb; Classificacao Material" textWrap="true"></Label>
                                    <ListPicker [items]="classificacao" selectedIndex="0" class="picker" (selectedIndexChange)="onSelectedIndexChangedClassificacao($event)"></ListPicker>
                                </StackLayout>
                            </GridLayout>
                        </StackLayout>

                        <StackLayout row="5" class="input-field espacamento-label-text">
                            <Label text="&#xf47f; Localização" class="fas label-text"></Label>
                            <StackLayout orientation="horizontal">
                                <Button text="&#xf689;" class="fas btn-design btn btn-color-photo" textWrap="true" [disabled]="processing" (tap)="getLocation()"></Button>
                                <StackLayout orientation="vertical">
                                    <Label [attr.text]="'Latitude:  '+lr.localizacao_lat"></Label>
                                    <Label [attr.text]="'Longitude:  '+lr.localizacao_long"></Label>
                                </StackLayout>
                            </StackLayout>
                            <StackLayout *ngIf="lr.localizacao_lat == undefined" class="hr-light linha-error"></StackLayout>
                            <Label *ngIf="lr.localizacao_lat == undefined" text="Campo obrigatório!" class="label-error"></Label>
                            <Label *ngIf="!lr.localizacao_lat == undefined" text="{{ endereco }}"></Label>
                        </StackLayout>

                        <StackLayout row="6" class="input-field espacamento-label-text">
                            <StackLayout orientation="horizontal">
                                <Label text="&#xf030; Foto  " class="fas label-text"></Label>
                                <!--                                <Label *ngIf="photoPath == ''" text="    Foto obrigatória!" class="label-error"></Label>-->
                            </StackLayout>
                            <Button class="btn-design btn-color-photo fas " text="&#xf030;" [disabled]="processing" (tap)="capturePhoto()"></Button>
                        </StackLayout>
                        <StackLayout *ngIf="lr.foto" row="7" class="m-b-30" horizontalAlignment="center">
                            <Image [src]="lr.foto" width="100%" height="300"></Image>
                        </StackLayout>

                        <ActivityIndicator class="activity-indicator" rowSpan="7" [busy]="processing"></ActivityIndicator>

                        <StackLayout row="8" class="input-field espacamento-label-text ">
                            <Button class="btn-design btn-color-add" text="Enviar" [disabled]="processing" (tap)="checkCa()"></Button>
                        </StackLayout>

                        <ListView row="9" [attr.items]="tasks" class="m-b-30 espacamento-label-text">
                            <ng-template let-item="item">
                                <StackLayout>
                                    <Label [attr.text]="'Enviando imagem: '+item.description"></Label>
                                    <Progress [value]="item.upload" [attr.maxValue]="item.totalUpload"></Progress>
                                    <Label [attr.text]="'Uploading: ' + item.upload + ' / ' + item.totalUpload"></Label>
                                    <Label [attr.text]="'Status: ' + item.status"></Label>
                                </StackLayout>
                            </ng-template>
                        </ListView>
                    </GridLayout>
                </GridLayout>
            </ScrollView>
        </PreviousNextView>
    </StackLayout>
</FlexboxLayout>
<AbsoluteLayout *ngIf="showMessage" width="70%" height="30" class="message" [ngStyle]="{'background-color': background}">

    <Label horizontalAlignment="center" verticalAlignment="center" [text]="message" class="text-message" textWrap="true"></Label>

</AbsoluteLayout>
