/* Add mobile styles for the component here.  */
.picker {
    color: green;
    width: 200;
    height: 100;
    vertical-align: middle;
}
.page{
    margin: 10;
}
.label-error{
    color: #D51A1A;
    font-weight: 600;
}
.linha-error{
    background-color: #D51A1A;
}
.action-bar-per{
    color: white;
}
