<FlexboxLayout class="page">
    <StackLayout class="">
        <PreviousNextView>
            <ScrollView scrollBarIndicatorVisible="false" class="form scrolview" orientation="vertical">
                <GridLayout rows="auto, auto, auto, auto, *">
                    <Label text="&#xf104;" style="font-size: 25em;" class="fas m-t-16 m-l-20" row="0" clearHistory="true" [nsRouterLink]="['/home']" pageTransition="slideRight"></Label>
<!--                    <Image width="60%" class="logo" row="0"  src="~/imagens/logo-login.png"></Image>-->
                    <Label rowSpan="2"  *ngIf="!reload" (tap)="start()" text="&#xf021;" class="fas reload"></Label>
                    <Label *ngIf="!reload" verticalAlignment="center" horizontalAlignment="center" class="reload-text" text="Não foi possivel buscar os dados! Tente Novamente." rowSpan="2" ></Label>
                    <GridLayout class="form" row="1" *ngIf="reload" rows="auto, auto, auto, auto, auto, auto, auto, auto, auto, auto">
                        <StackLayout row="1" colSpan="3" class="input-field m-t-90">
                            <Label text="&#xf0e0; E-mail" class="fas label-text"></Label>
                            <TextField #email keyboardType="email" class="input" [(ngModel)]="user.email"
                                       [isEnabled]="alterStatus"
                            ></TextField>
                            <StackLayout [class]="formUserValidator !== undefined && formUserValidator.email !== undefined ? 'hr-light linha-error' : 'hr-light'"></StackLayout>
                            <Label *ngIf="formUserValidator !== undefined && formUserValidator.email !== undefined" [text]="formUserValidator.email[0]" class="label-error"></Label>
                        </StackLayout>

                        <StackLayout row="3" colSpan="3" class="input-field">
                            <Label text="&#xf5b7; Nome Completo" class="fas label-text"></Label>
                            <TextField #name class="input" [isEnabled]="alterStatus"
                                       [(ngModel)]="user.nome"
                                       returnKeyType="done"></TextField>
                            <StackLayout [class]="formUserValidator !== undefined && formUserValidator.nome !== undefined ? 'hr-light linha-error' : 'hr-light'"></StackLayout>
                            <Label *ngIf="formUserValidator !== undefined && formUserValidator.nome !== undefined" [text]="formUserValidator.nome[0]" class="label-error"></Label>
                        </StackLayout>

                        <ActivityIndicator class="activity-indicator" rowSpan="8" [busy]="processing"></ActivityIndicator>
                        <StackLayout row="7" class="input-field">
                            <Label text="&#xf2c2; Telefone" class="fas label-text"></Label>
                            <TextField keyboardType="number" class="input" [isEnabled]="alterStatus" [(ngModel)]="user.telefone"
                                       returnKeyType="next"></TextField>
                            <StackLayout [class]="formUserValidator !== undefined && formUserValidator.telefone !== undefined ? 'hr-light linha-error' : 'hr-light'"></StackLayout>
                            <Label *ngIf="formUserValidator !== undefined && formUserValidator.telefone !== undefined" [text]="formUserValidator.telefone[0]" class="label-error"></Label>
                        </StackLayout>
                        <Button *ngIf="alterStatus" row="8" text="Confirmar Alterações" class="btn btn-edit-user" (tap)="checkAlter()"></Button>
                    </GridLayout>
                    <Label *ngIf="!alterStatus" row="2" class="divider"></Label>
                    <StackLayout  row="3" class="input-field btn-sair">
                        <GridLayout  *ngIf="!alterStatus && reload" rows="auto" (tap)="edit()" columns="*" style="margin-right: 5%; margin-left: 5%;">
                            <Label row="0" class="text-btn-def text-btn-border fas" [text]="'&#xf044; '+Editar"></Label>
                            <Label row="0" horizontalAlignment="right" class="text-btn-def fas" style=" width: 10%" text="&#xf105;"></Label>
                        </GridLayout>
                        <GridLayout *ngIf="alterStatus && reload" rows="auto" class="color-padrao label-error" (tap)="cancelEdit()" columns="*" style="margin-right: 5%; margin-left: 5%;">
                            <Label row="0" class="text-btn-def text-btn-border fas" text="&#xf00d;  Cancelar Alterações"></Label>
                            <Label row="0" horizontalAlignment="right" class="text-btn-def fas" style=" width: 10%" text="&#xf105;"></Label>
                        </GridLayout>
                        <GridLayout *ngIf="reload" style="margin-right: 5%; margin-left: 5%;" rows="auto" columns="*" [nsRouterLink]="['/putpassword']" pageTransition="slideLeft" pageTransitionDuration="800">
                            <Label row="0"  class="text-btn-def text-btn-border fas " text="&#xf023; Redefinir Senha"></Label>
                            <Label row="0" horizontalAlignment="right" class="text-btn-def fas" style=" width: 10%" text="&#xf105;"></Label>
                        </GridLayout>
                        <GridLayout *ngIf="reload" style="margin-right: 5%; margin-left: 5%;" rows="auto" columns="*" class="color-padrao" (tap)="delete()">
                            <Label class="text-btn-def text-btn-border fas" text="&#xf506; Desativar Conta"  ></Label>
                            <Label row="0" horizontalAlignment="right" class="text-btn-def fas" style=" width: 10%" text="&#xf105;"></Label>
                        </GridLayout>
                        <GridLayout *ngIf="reload" style="margin-right: 5%; margin-left: 5%;" rows="auto" columns="*" class="color-padrao" (tap)="logout()">
                            <Label class="text-btn-def fas" text="&#xf2f5; Sair"  ></Label>
                            <Label row="0" horizontalAlignment="right" class="text-btn-def fas" style=" width: 10%" text="&#xf105;"></Label>
                        </GridLayout>
                        <GridLayout *ngIf="!reload" style="margin-right: 5%; margin-left: 5%;" rows="auto" columns="*" class="color-padrao" (tap)="logout()">
                            <Label class="text-btn-def fas" text="&#xf2f5; Sair"  ></Label>
                            <Label row="0" horizontalAlignment="right" class="text-btn-def fas" style=" width: 10%" text="&#xf105;"></Label>
                        </GridLayout>
                    </StackLayout>
                    <Label row="4" style="height: 50;"></Label>
                </GridLayout>
            </ScrollView>
        </PreviousNextView>
    </StackLayout>
</FlexboxLayout>
